.projectsContainer {
  text-align: center;
}

/* always state the class when selecting nested elements because these cannot be scoped automatically */
.projectsContainer > h1 {
  font-size: 3em;
}

.projectsContainer > h2 {
  font-size: 2em;
  font-weight: 400;
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}

.projectCard {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.projectCard > h3 {
  color: white;
}
